:root {
    --multiplier: 16;
}

.polaroid{
    width: calc(var(--multiplier)*29px);
    height: calc(var(--multiplier)*34px);
    padding-top: calc(var(--multiplier)*2px);
    padding-right: calc(var(--multiplier)*2px);
    /* padding-bottom: calc(var(--multiplier)*7px); */
    padding-left: calc(var(--multiplier)*2px);
    background: rgba(245, 245, 245, .9);
    box-shadow: -4px 4px 7px 2px rgba(0, 0, 0, .2);
    border-radius: 2px;
}

.polarimg {
    width: calc(var(--multiplier)*25px);
    height: calc(var(--multiplier)*25px);
}

.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.nav-social li {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2.4em;      
}

.nav-sidebar {
    padding: 2em;
    width: 464px;
}

.nav-sidebar-items {
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    margin: 15px;        
    font-weight: 300;
    text-align: left;
}

.nav-sidebar-items:hover {
    text-decoration: underline;
}

.nav-name-container{
    background-color: black;
    width: 380px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-left: 15px;
    
}
.nav-name{
    font-family: 'Raleway', sans-serif;
    font-size: 4em;   
    font-weight: 500; 
    color: white;
}

.nav-section {
    margin-bottom: 15px;
}