@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700|Reenie+Beanie');

/* font-family: 'Reenie Beanie', cursive;
font-family: 'Ubuntu', sans-serif; */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
  width: 100%;
  text-align: center;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.container {
  padding: 2.2em; 
  display: inline-block;
  text-align: left;
  width: 1000px;
}

.anw-container{
  width: 690px;
  margin: 0 auto;
}

.anw-header{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 3.5em;
  text-align: center;
}

.anw-line{
  height: 2px;
  width: 345px;
  margin: 4px auto 10px auto; 
  background-color: black;
}

.anw-text{
  text-align: center;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  margin: 15px;
  font-weight: 300;
}